* {
  box-sizing: border-box;
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image:url('../images/bg-pattern-top-mobile.svg'),
  url('../images/bg-pattern-bottom-mobile.svg');
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}

.bg-image {
  position: absolute;
  margin: 0;
}

.top {
  top: 0;
  left: 0;
}

.bottom {
  bottom: 0;
  right: 0;
}

h1 {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
}

div {
  border-radius: 16px
}

.description {
  color: hsl(303, 10%, 53%);
  font-weight: 400;
  max-width: 327px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

.top-rating,
.middle-rating,
.bottom-rating {
  color: hsl(300, 43%, 22%);
  background-color: hsl(300, 24%, 96%);
  font-weight: 700;
  padding: 2%;
  width: 327px;
  margin: 16px 24px;
}

.first-review,
.second-review,
.third-review {
  width: 327px;
  text-align: left;
  justify-content: flex-start;
  background-color: hsl(300, 43%, 22%);
  margin: 16px 24px;
}

.review-name {
  position: absolute;
  display: inline-block;
  margin-top: 25px;
  margin-right: 20%;
  margin-bottom: 10%;
  font-weight: 500;
}

.profile-pic {
  border-radius: 50%;
  display: inline-block;
  width: 45px;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 5%;
}

.white {
  color: hsl(0, 0%, 100%);
  display: inline-block;
}

.name {
  margin-bottom: 1%;
}

.verified {
  color: hsl(333, 80%, 67%);
  display: block;
  margin-top: 1%;
}

blockquote {
  line-height: 1.5;
  font-weight: 400;
  max-width: 240px;
}

@media screen and (min-width: 1268px){
  body {
    min-height: 100vh;
    flex-flow: row wrap;
    justify-content: flex-start;
    background-image:url('../images/bg-pattern-top-desktop.svg'),
    url('../images/bg-pattern-bottom-desktop.svg');
    background-position: top left, bottom right;
    background-repeat: no-repeat;
  }
  h1 {
    font-size: 3rem;
  }

  .description-section {
    width: 45%;
    text-align: left;
    max-width: 445px;
    margin-left: 10%;
  }

  .description {
    width: 445px;
    text-align: left;
    margin: 0;
  }

  .rating-section {
    width: 50%;
    margin-left: 2%;
  }

  .top-rating,
  .middle-rating,
  .bottom-rating {
    padding: .5%;
    width: 445px;
  }

  .rating-section p {
    display: inline-block;
  }

  .top-rating {
    margin-left: 0;
  }

  .middle-rating {
    margin-left: 3%;
  }

  .bottom-rating {
    margin-left: 6%;
  }

  .review-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10%;
    margin-top: -6%;
  }

  .first-review {
    margin-left: 0;
    margin-right: 1%;
    margin-top: 0;
  }

  .first-review,
  .second-review,
  .third-review {
    min-width: 26%;
    margin-left: 1%;
    margin-right: 1%;
  }

  .second-review {
    margin-top: 2.5%;
  }

  .third-review {
    margin-top: 5%;
  }

  .attribution {
    width: 100%;
  }
}
